<h1 id="せつめい">せつめい {{{</h1>
<pre><code>* 原本リンク  
  原本リンクは、サムネの生成元ファイルに繋がっている。</code></pre>
<p>}}}</p>
<h1 id="もくじ">もくじ {{{</h1>
<ul>
<li><a href="#キャラ">キャラ</a>
<ul>
<li><a href="#複数キャラ">複数キャラ</a></li>
<li><a href="#祝園アカネ">祝園アカネ</a></li>
<li><a href="#山家宏佳">山家宏佳</a></li>
<li><a href="#垂水結菜">垂水結菜</a></li>
<li><a href="#少佐">少佐</a></li>
<li><a href="#英賀保芽衣">英賀保芽衣</a></li>
<li><a href="#中舟生良文">中舟生良文</a></li>
<li><a href="#パキラ">パキラ</a></li>
<li><a href="#葛城岩男">葛城岩男</a></li>
<li><a href="#モブ姉kits受付嬢">モブ姉(KITS受付嬢)</a></li>
<li><a href="#夢前さくら">夢前さくら</a></li>
<li><a href="#御来屋なんとか-カメラマン">御来屋なんとか + カメラマン</a></li>
<li><a href="#万能倉まな">万能倉まな</a></li>
<li><a href="#京姫鉄道マスコット">京姫鉄道マスコット</a></li>
<li><a href="#余部静夫">余部静夫</a></li>
<li><a href="#敬川康">敬川康</a></li>
<li><a href="#朝霧よしみちゅ">朝霧よしみちゅ</a></li>
<li><a href="#篠山ささみん">篠山ささみん</a></li>
</ul></li>
<li><a href="#場所設定絵素材">場所設定・絵素材</a>
<ul>
<li><a href="#京鉄本社">京鉄本社</a></li>
<li><a href="#kits">KITS</a></li>
<li><a href="#駅">駅</a></li>
<li><a href="#指令管制室">指令管制室</a></li>
</ul></li>
<li><a href="#物設定絵素材">物設定・絵素材</a>
<ul>
<li><a href="#物">物</a></li>
<li><a href="#鉄道車両">鉄道車両</a></li>
</ul></li>
<li><a href="#京鉄設定絵素材">京鉄設定・絵素材</a>
<ul>
<li><a href="#一般">一般</a></li>
<li><a href="#ロゴ等">ロゴ等</a></li>
<li><a href="#制服">制服</a></li>
</ul></li>
<li><a href="#kits設定絵素材">KITS設定・絵素材</a>
<ul>
<li><a href="#ロゴ等">ロゴ等</a></li>
</ul></li>
<li><a href="#各種テンプレ">各種テンプレ</a>
<ul>
<li><a href="#作画担当者向け">作画担当者向け</a></li>
<li><a href="#演出担当者向け">演出担当者向け</a></li>
<li><a href="#撮影担当者向け">撮影担当者向け</a> }}}</li>
</ul></li>
</ul>
<h1 id="キャラ">キャラ {{{</h1>
<h2 id="複数キャラ">複数キャラ {{{</h2>
<ul>
<li>主要キャラ一覧図
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/_all.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/_all.jpg">原本jpg</a></li>
</ul></li>
<li>第二話全キャラ一覧図
<ul>
<li><img src="./matomeSmallImg/designs/character/_all.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/_all.png">原本png</a></li>
<li><a href="./designs/character/_all.psd">原本psd</a></li>
</ul></li>
<li>第二話全キャラ大きさ対比図
<ul>
<li><img src="./matomeSmallImg/designs/character/scale.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/scale.png">原本png</a></li>
<li><a href="./designs/character/scale.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="祝園アカネ">祝園アカネ {{{</h2>
<ul>
<li>祝園アカネキャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/akane-hosono.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/akane-hosono.psd">原本psd</a></li>
<li><a href="./designs/character/main-characters/akane-hosono.png">原本png</a></li>
</ul></li>
<li>祝園アカネ表情パターン
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/akane-hosono_face-pattern.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/akane-hosono_face-pattern.psd">原本psd</a></li>
<li><a href="./designs/character/main-characters/akane-hosono_face-pattern.png">原本png</a></li>
</ul></li>
<li>(再掲)祝園アカネ社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/akane_hosono.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/akane_hosono.png">原本png</a></li>
</ul></li>
<li>(再掲)祝園アカネ名札
<ul>
<li><img src="./matomeSmallImg/designs/uniform/nameplate/nameplate_housono.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/nameplate/nameplate_housono.png">原本png</a></li>
</ul></li>
<li>(再掲)京鉄女性用制服(夏)基本設定
<ul>
<li><img src="./matomeSmallImg/designs/uniform/uniform-summer-female.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/uniform-summer-female.jpg">原本jpg</a> }}}</li>
</ul></li>
</ul>
<h2 id="山家宏佳">山家宏佳 {{{</h2>
<ul>
<li>山家宏佳キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/hiroka-yamaga.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/hiroka-yamaga.psd">原本psd</a></li>
<li><a href="./designs/character/main-characters/hiroka-yamaga.png">原本png</a></li>
</ul></li>
<li>(再掲)山家宏佳社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/hiroka_yamaga.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/hiroka_yamaga.png">原本png</a></li>
</ul></li>
<li>(再掲)制服右胸ロゴプレート
<ul>
<li><img src="./matomeSmallImg/designs/uniform/logoplate/logoplate.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/logoplate/logoplate.ai">原本ai</a></li>
<li><a href="./designs/uniform/logoplate/logoplate.png">原本png</a></li>
</ul></li>
<li>(再掲)山家宏佳名札
<ul>
<li><img src="./matomeSmallImg/designs/uniform/nameplate/nameplate_yamaga.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/nameplate/nameplate.ai">原本ai</a></li>
<li><a href="./designs/uniform/nameplate/nameplate_yamaga.png">原本png</a></li>
</ul></li>
<li>(再掲)京鉄制服設定1
<ul>
<li><img src="./matomeSmallImg/designs/uniform/uniform001.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/uniform001.jpg">原本jpg</a></li>
</ul></li>
<li>(再掲)京鉄制服設定2
<ul>
<li><img src="./matomeSmallImg/designs/uniform/uniform-color.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/uniform-color.jpg">原本jpg</a> }}}</li>
</ul></li>
</ul>
<h2 id="垂水結菜">垂水結菜 {{{</h2>
<ul>
<li>垂水結菜キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/yuina-tarumi.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/yuina-tarumi.png">原本png</a></li>
<li><a href="./designs/character/main-characters/yuina-tarumi.psd">原本psd</a></li>
</ul></li>
<li>(再掲)垂水結菜社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/yuina_tarumi.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/yuina_tarumi.png">原本png</a></li>
</ul></li>
<li>(再掲)垂水結菜車掌名札
<ul>
<li><img src="./matomeSmallImg/designs/uniform/nameplate/nameplate_conductor.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/nameplate/nameplate_conductor.ai">原本ai</a> }}}</li>
</ul></li>
</ul>
<h2 id="少佐">少佐 {{{</h2>
<ul>
<li>少佐キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/lt-commander-shousa.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/lt-commander-shousa.png">原本png</a></li>
<li><a href="./designs/character/main-characters/lt-commander-shousa.psd">原本psd</a></li>
</ul></li>
<li>少佐表情パターン
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/lt-commander-shousa-hyoujo.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/lt-commander-shousa-hyoujo.psd">原本psd</a></li>
</ul></li>
<li>(再掲)少佐社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/LtCommander.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/LtCommander.png">原本png</a></li>
</ul></li>
<li>(再掲)京鉄徽章(帽子・制服のマーク)
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/logo/京姫鐵道_帽章.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/logo/京姫鐵道_帽章.ai">原本ai</a></li>
<li><a href="./designs/kyoki-railway-company/logo/京姫鐵道_帽章.png">原本png</a> }}}</li>
</ul></li>
</ul>
<h2 id="英賀保芽衣">英賀保芽衣 {{{</h2>
<ul>
<li>英賀保芽衣キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/mei-agaho.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/mei-agaho.psd">原本psd</a></li>
<li><a href="./designs/character/main-characters/mei-agaho.png">原本png</a></li>
</ul></li>
<li>(再掲)英賀保芽衣社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/mei_agaho.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/mei_agaho.png">原本png</a></li>
</ul></li>
<li>英賀保芽衣服装通勤用
<ul>
<li><img src="./designs/character/main-characters/mei-agaho-tsukinyou.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/mei-agaho-tsukinyou.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="中舟生良文">中舟生良文 {{{</h2>
<ul>
<li>CIO(中舟生良文)キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/yoshifumi_nakahunyu_CIO.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/yoshifumi_nakahunyu_CIO.png">原本png</a></li>
<li><a href="./designs/character/main-characters/yoshifumi_nakahunyu_CIO.psd">原本psd</a></li>
</ul></li>
<li>(再掲)中舟生良文(CIO)社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/CIO_yoshifumi_nakafunyu.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/CIO_yoshifumi_nakafunyu.png">原本png</a> }}}</li>
</ul></li>
</ul>
<h2 id="パキラ">パキラ {{{</h2>
<ul>
<li>パキラ(汎用型自走式パキラ)汎用素材1
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/pachira.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/pachira.psd">原本psd</a></li>
</ul></li>
<li>パキラ(汎用型自走式パキラ)汎用素材2
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/pachira_size.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/pachira_size.png">原本png</a></li>
</ul></li>
<li>パキラ(汎用型自走式パキラ)キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/main-characters/pachira_pattern.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/main-characters/pachira_pattern.png">原本png</a> }}}</li>
</ul></li>
</ul>
<h2 id="葛城岩男">葛城岩男 {{{</h2>
<ul>
<li>葛城岩男キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/katsuragi.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/katsuragi.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="モブ姉kits受付嬢">モブ姉(KITS受付嬢) {{{</h2>
<ul>
<li>モブ姉(KITS受付嬢)キャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/mob_female.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/mob_female.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="夢前さくら">夢前さくら {{{</h2>
<ul>
<li>夢前さくらキャラデザ
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/yumesaki.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/yumesaki.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="御来屋なんとか-カメラマン">御来屋なんとか + カメラマン{{{</h2>
<ul>
<li>御来屋なんとか + カメラマン
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/Mikuriya_and_Cameraman.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/Mikuriya_and_Cameraman.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="万能倉まな">万能倉まな{{{</h2>
<ul>
<li>万能倉まな
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/万能倉まな.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/万能倉まな.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="京姫鉄道マスコット">京姫鉄道マスコット{{{</h2>
<ul>
<li>京姫鉄道マスコット
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/京姫鉄道マスコット.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/京姫鉄道マスコット.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="余部静夫">余部静夫{{{</h2>
<ul>
<li>余部静夫(ラフ案)
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/余部静夫_Ver1.0_(ラフ案).jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/余部静夫_Ver1.0_(ラフ案).png">原本png</a></li>
</ul></li>
<li>余部静夫(完成版)
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/余部静夫_Ver3.0_(完成版).jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/余部静夫_Ver3.0_(完成版).psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="敬川康">敬川康{{{</h2>
<ul>
<li>敬川康
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/敬川康.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/敬川康.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="朝霧よしみちゅ">朝霧よしみちゅ{{{</h2>
<ul>
<li>朝霧義満カラー案1
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/朝霧義満カラー案1.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/朝霧義満カラー案1.jpg">原本jpg</a></li>
</ul></li>
<li>朝霧義満カラー案2
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/朝霧義満カラー案2バリエーション.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/朝霧義満カラー案1バリエーション.jpg">原本jpg</a></li>
</ul></li>
<li>朝霧義満カラー設定案
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/朝霧義満カラー設定案.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/朝霧義満カラー設定案.jpg">原本jpg</a></li>
</ul></li>
<li>朝霧義満ラフ案
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/朝霧義満ラフ案.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/朝霧義満ラフ案.jpg">原本jpg</a> }}}</li>
</ul></li>
</ul>
<h2 id="篠山ささみん">篠山ささみん{{{</h2>
<ul>
<li>篠山砂沙美
<ul>
<li><img src="./matomeSmallImg/designs/character/sub-characters/篠山砂沙美_完成版.jpg" alt="サムネjpg"></li>
<li><a href="./designs/character/sub-characters/篠山砂沙美_完成版.psd">原本jpg</a> }}} }}}</li>
</ul></li>
</ul>
<h1 id="場所設定絵素材">場所設定・絵素材 {{{</h1>
<h2 id="京鉄本社">京鉄本社 {{{</h2>
<ul>
<li>京鉄本社ビル3Dモデル1
<ul>
<li><img src="./matomeSmallImg/designs/building/kyokirailway-himeji-main-building/3D/building15.jpg" alt="サムネjpg"></li>
<li><a href="./designs/building/kyokirailway-himeji-main-building/3D/building15.blend">原本blend</a></li>
</ul></li>
<li>京鉄本社ビル3Dモデル2
<ul>
<li><img src="./matomeSmallImg/designs/building/kyokirailway-himeji-main-building/3D/building16.jpg" alt="サムネjpg"></li>
<li><a href="./designs/building/kyokirailway-himeji-main-building/3D/building16.blend">原本blend</a></li>
</ul></li>
<li>京鉄本社サーバー室内配置図
<ul>
<li><img src="./matomeSmallImg/designs/room/server-room/server_room_layout.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/server-room/server_room_layout.pdf">原本pdf</a></li>
<li><a href="./designs/room/server-room/server_room_layout.vsdx">原本vsdx</a></li>
</ul></li>
<li>京鉄本社サーバー室関連各種ファイル(3D等)
<ul>
<li><a href="./designs/room/server-room/3D/">ファイル多すぎてめんどくせえからここを見てくれい!(多分フォルダ行きリンクになってる)</a></li>
</ul></li>
<li>京鉄本社外観(実写)
<ul>
<li><img src="./matomeSmallImg/designs/room/system-office/external-appearance.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/system-office/external-appearance.JPG">原本jpg</a></li>
</ul></li>
<li>システム課オフィス設定
<ul>
<li><a href="./designs/room/system-office/memo.txt">原本txt</a></li>
</ul></li>
<li>システム課オフィス内配置図
<ul>
<li><img src="./matomeSmallImg/designs/room/system-office/room-layout.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/system-office/room-layout.pdf">原本pdf</a></li>
<li><a href="./designs/room/system-office/room-layout.vsdx">原本vsdx</a></li>
</ul></li>
<li>システム課オフィスラフ絵1
<ul>
<li><img src="./matomeSmallImg/designs/room/system-office/rough1.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/system-office/rough1.jpg">原本jpg</a></li>
<li><a href="./designs/room/system-office/rough1.sai">原本sai</a></li>
</ul></li>
<li>システム課オフィスラフ絵2
<ul>
<li><img src="./matomeSmallImg/designs/room/system-office/rough2.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/system-office/rough2.jpg">原本jpg</a></li>
<li><a href="./designs/room/system-office/rough2.sai">原本sai</a></li>
</ul></li>
<li>システム課オフィス窓外風景(実写)
<ul>
<li><img src="./matomeSmallImg/designs/room/system-office/view_from_window.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/system-office/view_from_window.JPG">原本jpg</a> }}}</li>
</ul></li>
</ul>
<h2 id="kits">KITS {{{</h2>
<ul>
<li>KITSオフィス3Dモデル
<ul>
<li><img src="./matomeSmallImg/designs/room/KITS-dev1-room/3D/KITS_office2014_08.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/KITS-dev1-room/3D/KITS_office2014_08.blend">原本blend</a></li>
</ul></li>
<li>KITSオフィス内配置図
<ul>
<li><img src="./matomeSmallImg/designs/room/KITS-dev1-room/room-layout.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/KITS-dev1-room/room-layout.jpg">原本jpg</a></li>
<li><a href="./designs/room/KITS-dev1-room/room-layout.pdf">原本pdf</a></li>
<li><a href="./designs/room/KITS-dev1-room/room-layout.vsdx">原本vsdx</a> }}}</li>
</ul></li>
</ul>
<h2 id="駅">駅 {{{</h2>
<ul>
<li>駅内案内表示1
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/sign-board/houmen.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/sign-board/houmen.ai">原本ai</a></li>
</ul></li>
<li>駅内案内表示2
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/sign-board/led_moji_1.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/sign-board/led_moji_1.ai">原本ai</a></li>
</ul></li>
<li>駅内案内表示3
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/sign-board/led_moji_2.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/sign-board/led_moji_2.ai">原本</a></li>
</ul></li>
<li>駅名看板(京鉄三田)
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/sign-board/station_name.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/sign-board/station_name.ai">原本ai</a></li>
<li><a href="./designs/kyoki-railway-company/sign-board/station_name.png">原本png</a></li>
</ul></li>
<li>駅名看板(ふくすみ,縦)
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/sign-board/station_name_tate.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/sign-board/station_name_tate.ai">原本ai</a></li>
</ul></li>
<li>改札3D
<ul>
<li><img src="./matomeSmallImg/designs/machines/ticket_gates/ticketgate.jpg" alt="サムネjpg"></li>
<li><a href="./matomeSmallImg/designs/machines/ticket_gates/ticketgate.blend">原本blend</a> }}}</li>
</ul></li>
</ul>
<h2 id="指令管制室">指令管制室{{{</h2>
<ul>
<li>指令管制室3D
<ul>
<li><img src="./matomeSmallImg/designs/room/control-room/Command%20and%20control%20center2.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/control-room/Command%20and%20control%20center2.blend">原本blend</a></li>
</ul></li>
<li>指令管制室見取り図
<ul>
<li><img src="./matomeSmallImg/designs/room/control-room/drawing.jpg" alt="サムネjpg"></li>
<li><a href="./designs/room/control-room/drawing.png">原本png</a></li>
<li><a href="./designs/room/control-room/drawing.pdf">原本pdf</a></li>
<li><a href="./designs/room/control-room/drawing.vsdx">原本vsdx</a> }}} }}}</li>
</ul></li>
</ul>
<h1 id="物設定絵素材">物設定・絵素材 {{{</h1>
<h2 id="物">物 {{{</h2>
<ul>
<li>電話機3Dモデル
<ul>
<li><img src="./matomeSmallImg/designs/props-design/TEL/telephone09.jpg" alt="サムネjpg"></li>
<li><a href="./designs/props-design/TEL/telephone09.blend">原本blend</a></li>
</ul></li>
<li>祝園アカネ社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/akane_hosono.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/akane_hosono.png">原本png</a></li>
</ul></li>
<li>中舟生良文(CIO)社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/CIO_yoshifumi_nakafunyu.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/CIO_yoshifumi_nakafunyu.png">原本png</a></li>
</ul></li>
<li>山家宏佳社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/hiroka_yamaga.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/hiroka_yamaga.png">原本png</a></li>
</ul></li>
<li>社員証(IDカード)システム課員全部込み
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/ID_Cards.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/ID_Cards.ai">原本ai</a></li>
</ul></li>
<li>少佐社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/LtCommander.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/LtCommander.png">原本png</a></li>
</ul></li>
<li>英賀保芽衣社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/mei_agaho.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/mei_agaho.png">原本png</a></li>
</ul></li>
<li>垂水結菜社員証(IDカード)
<ul>
<li><img src="./matomeSmallImg/designs/uniform/ID-card/yuina_tarumi.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/ID-card/yuina_tarumi.png">原本png</a> }}}</li>
</ul></li>
</ul>
<h2 id="鉄道車両">鉄道車両{{{</h2>
<ul>
<li>KKR-K133帯色
<ul>
<li><img src="./matomeSmallImg/designs/train/KKR-K133/color-obi.jpg" alt="サムネjpg"></li>
<li><a href="./designs/train/KKR-K133/color-obi.ai">原本ai</a></li>
</ul></li>
<li>KKR-K133前面
<ul>
<li><img src="./matomeSmallImg/designs/train/KKR-K133/front.jpg" alt="サムネjpg"></li>
<li><a href="./designs/train/KKR-K133/front.psd">原本psd</a></li>
</ul></li>
<li>KKR-K133内部
<ul>
<li><img src="./matomeSmallImg/designs/train/KKR-K133/inside.jpg" alt="サムネjpg"></li>
<li><a href="./designs/train/KKR-K133/inside.psd">原本psd</a></li>
</ul></li>
<li>KKR-K133側面
<ul>
<li><img src="./matomeSmallImg/designs/train/KKR-K133/train.jpg" alt="サムネjpg"></li>
<li><a href="./designs/train/KKR-K133/train.ai">原本ai</a></li>
<li><a href="./designs/train/KKR-K133/train.png">原本png</a></li>
</ul></li>
</ul>
<p>}}} }}}</p>
<h1 id="京鉄設定絵素材">京鉄設定・絵素材 {{{</h1>
<h2 id="一般">一般 {{{</h2>
<ul>
<li>京鉄社内ネットワーク図
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/LAN/京姫鐵道ネットワーク図.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/LAN/京姫鐵道ネットワーク図.pdf">原本pdf</a></li>
<li><a href="./designs/kyoki-railway-company/LAN/京姫鐵道ネットワーク図.vsdx">原本vsdx</a></li>
</ul></li>
<li>京鉄全域路線図
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/route-map/full-routemap.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/route-map/full-routemap.ai">原本ai</a></li>
<li><a href="./designs/kyoki-railway-company/route-map/full-routemap.png">原本png</a></li>
<li><a href="./designs/kyoki-railway-company/route-map/full-routemap.svg">原本svg</a></li>
</ul></li>
<li>京鉄全域路線図(一部拡大)
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/route-map/full-routemap-thumb.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/route-map/full-routemap-thumb.png">原本png</a></li>
</ul></li>
<li>京鉄路線地図1(google map)
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/route-map/京姫鉄道(プレイスマップ).jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/route-map/京姫鉄道(プレイスマップ).png">原本png</a></li>
</ul></li>
<li>京鉄kmlファイル(詳細不明)
<ul>
<li><a href="./designs/kyoki-railway-company/route-map/京姫鉄道.kml">原本kml</a></li>
</ul></li>
<li>京鉄路線地図2(google map)
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/route-map/京姫鉄道ルート(ver2).jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/route-map/京姫鉄道ルート(ver2).png">原本png</a></li>
</ul></li>
<li>京鉄駅名一覧
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/route-map/京姫鉄道駅名一覧.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/route-map/京姫鉄道駅名一覧.png">原本png</a></li>
<li><a href="./designs/kyoki-railway-company/route-map/京姫鉄道駅名一覧.xlsx">原本xlsx</a> }}}</li>
</ul></li>
</ul>
<h2 id="ロゴ等">ロゴ等 {{{</h2>
<ul>
<li>京鉄労組(京鉄乗労)ロゴ
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/logo/jourou-logo.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/logo/jourou-logo.ai">原本ai</a></li>
<li><a href="./designs/kyoki-railway-company/logo/jourou-logo.png">原本png</a></li>
</ul></li>
<li>京鉄ロゴ1
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/logo/kyoki-railway-logo01.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/logo/kyoki-railway-logo01.png">原本png</a></li>
</ul></li>
<li>京鉄ロゴ2
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/logo/KKR-logo.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/logo/KKR-logo.ai">原本ai</a></li>
<li><a href="./designs/kyoki-railway-company/logo/KKR-logo.png">原本png</a></li>
</ul></li>
<li>京鉄ロゴ3
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/logo/logo_only.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/logo/logo_only.ai">原本ai</a></li>
<li><a href="./designs/kyoki-railway-company/logo/logo_only.svg">原本svg</a> }}}</li>
</ul></li>
</ul>
<h2 id="制服">制服 {{{</h2>
<ul>
<li>京鉄徽章(帽子・制服のマーク)
<ul>
<li><img src="./matomeSmallImg/designs/kyoki-railway-company/logo/京姫鐵道_帽章.jpg" alt="サムネjpg"></li>
<li><a href="./designs/kyoki-railway-company/logo/京姫鐵道_帽章.ai">原本ai</a></li>
<li><a href="./designs/kyoki-railway-company/logo/京姫鐵道_帽章.png">原本png</a></li>
</ul></li>
<li>制服右胸ロゴプレート
<ul>
<li><img src="./matomeSmallImg/designs/uniform/logoplate/logoplate.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/logoplate/logoplate.ai">原本ai</a></li>
<li><a href="./designs/uniform/logoplate/logoplate.png">原本png</a></li>
</ul></li>
<li>山家宏佳名札
<ul>
<li><img src="./matomeSmallImg/designs/uniform/nameplate/nameplate_yamaga.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/nameplate/nameplate.ai">原本ai</a></li>
<li><a href="./designs/uniform/nameplate/nameplate_yamaga.png">原本png</a></li>
</ul></li>
<li>祝園アカネ名札
<ul>
<li><img src="./matomeSmallImg/designs/uniform/nameplate/nameplate_housono.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/nameplate/nameplate_housono.png">原本png</a></li>
</ul></li>
<li>垂水結菜車掌名札
<ul>
<li><img src="./matomeSmallImg/designs/uniform/nameplate/nameplate_conductor.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/nameplate/nameplate_conductor.ai">原本ai</a></li>
</ul></li>
<li>駅長助役帽子ラフ絵
<ul>
<li><img src="./matomeSmallImg/designs/uniform/cap_assistant_stationmaster.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/cap_assistant_stationmaster.jpg">原本jpg</a></li>
</ul></li>
<li>駅長帽子ラフ絵
<ul>
<li><img src="./matomeSmallImg/designs/uniform/cap_stationmaster.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/cap_stationmaster.jpg">原本jpg</a></li>
</ul></li>
<li>輸送主任帽子ラフ絵
<ul>
<li><img src="./matomeSmallImg/designs/uniform/cap_transportation_officer.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/cap_transportation_officer.jpg">原本jpg</a></li>
</ul></li>
<li>京鉄コート(外套)設定
<ul>
<li><img src="./matomeSmallImg/designs/uniform/coat.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/coat.jpg">原本jpg</a></li>
</ul></li>
<li>制服設定補記
<ul>
<li><a href="./designs/uniform/memo.txt">原本txt</a></li>
</ul></li>
<li>京鉄制服設定1
<ul>
<li><img src="./matomeSmallImg/designs/uniform/uniform001.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/uniform001.jpg">原本jpg</a></li>
</ul></li>
<li>京鉄制服設定2
<ul>
<li><img src="./matomeSmallImg/designs/uniform/uniform-color.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/uniform-color.jpg">原本jpg</a></li>
</ul></li>
<li>京鉄制服設定詳細
<ul>
<li><img src="./matomeSmallImg/designs/uniform/uniform-details.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/uniform-details.jpg">原本jpg</a></li>
</ul></li>
<li>京鉄女性用制服(夏)基本設定
<ul>
<li><img src="./matomeSmallImg/designs/uniform/uniform-summer-female.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/uniform-summer-female.jpg">原本jpg</a></li>
</ul></li>
<li>京鉄作業服設定
<ul>
<li><img src="./matomeSmallImg/designs/uniform/work_clothes.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/work_clothes.jpg">原本jpg</a></li>
</ul></li>
<li>京鉄作業服設定2
<ul>
<li><img src="./matomeSmallImg/designs/uniform/work_clothes_type2.jpg" alt="サムネjpg"></li>
<li><a href="./designs/uniform/work_clothes_type2.jpg">原本jpg</a></li>
</ul></li>
</ul>
<p>}}} }}}</p>
<h1 id="kits設定絵素材">KITS設定・絵素材 {{{</h1>
<h2 id="ロゴ等-1">ロゴ等 {{{</h2>
<ul>
<li>KITSロゴ
<ul>
<li><img src="./matomeSmallImg/designs/KITS/logo/kits-logo.jpg" alt="サムネjpg"></li>
<li><a href="./designs/KITS/logo/kits-logo.ai">原本ai</a></li>
<li><a href="./designs/KITS/logo/kits-logo.png">原本png</a></li>
</ul></li>
<li>KITSロゴ
<ul>
<li><img src="./matomeSmallImg/designs/KITS/logo/kits-logo.jpg" alt="サムネjpg"></li>
<li><a href="./designs/KITS/logo/kits-logo.ai">原本ai</a></li>
</ul></li>
</ul>
<p>}}} }}}</p>
<h1 id="各種テンプレ">各種テンプレ {{{</h1>
<h2 id="作画担当者向け">作画担当者向け {{{</h2>
<ul>
<li>作画用ひな型psd
<ul>
<li><img src="./matomeSmallImg/template/sakuga/SXX_CXX.jpg" alt="サムネjpg"></li>
<li><a href="./template/sakuga/SXX_CXX.psd">原本psd</a></li>
</ul></li>
<li>作画用タイムシート
<ul>
<li><img src="./matomeSmallImg/template/timesheet/TimeSheet.jpg" alt="サムネjpg"></li>
<li><a href="./template/timesheet/TimeSheet.png">原本png</a></li>
<li><a href="./template/timesheet/TimeSheet.psd">原本psd</a> }}}</li>
</ul></li>
</ul>
<h2 id="演出担当者向け">演出担当者向け {{{</h2>
<ul>
<li>コンテ用紙
<ul>
<li><img src="./matomeSmallImg/template/conte/conte_sheet.jpg" alt="サムネjpg"></li>
<li><a href="./template/conte/conte_sheet.pdf">原本pdf</a></li>
<li><a href="./template/conte/conte_sheet.png">原本png</a></li>
<li><a href="./template/conte/conte_sheet.xlsx">原本xlsx</a> }}}</li>
</ul></li>
</ul>
<h2 id="撮影担当者向け">撮影担当者向け {{{</h2>
<ul>
<li>撮影セット一式
<ul>
<li><a href="./template/satuei/">ファイル多すぎてめんどくせえからここを見てくれい!(フォルダ行きリンク)</a> }}} }}}</li>
</ul></li>
</ul>
<p>}}}</p>
